.jumbotron {
  text-align: center;
  background-color: darkgreen;
  color: #eeeeee;
  border: 1px solid #eeeeee;
  margin-top: 5%;
}

h5 {
  color: #eeeeee;
}

body {
  background-color: rgb(17, 18, 95)
}

.card-header {
  background-color: rgb(226, 79, 79);
  color: #eeeeee;
}

.card {
  border: 1px solid #eeeeee;
  margin: 5% auto;
}